.for-you {
  max-width: 100%;
  margin-right: auto;
  margin-left: 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 0.5rem;
  margin-top: 2rem;
}

.box .box-img {
  margin-top: 2rem;
  width: 100%;
  height: 50vh;
}

.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .box-img img:hover {
  transform: translateY(-10px);
  transition: 0.2s all linear;
}

h3 {
  color: aliceblue;
  font-weight: 500;
}

.box span {
  color: aliceblue;
  font-weight: 400;
}
