.n-content {
  width: 104%;
  height: 94vh;
  background: rgba(0, 0, 0, 0.89);
  position: relative;
  transition: ease-in-out 1s;
  transform-origin: bottom;
  margin-left: 6rem;
  margin-top: 2rem;
  z-index: 1100;
}

.n-img .m-img2 img {
  box-shadow: 0px 6px 24px 0px rgba(44, 40, 40, 0.904);
  background-color: rgba(0, 0, 0, 0.486);
  backdrop-filter: blur(5px);
  left: 0;
  margin-left: 0rem;
  position: absolute;
  width: 85%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  /* border-radius: 20px;
  padding: 0.5rem;
  text-align: center;
  gap: 0;
  margin-top: 12rem;
  width: 45%;
  height: 55vh; */
}

.download-sec {
  position: absolute;
  margin-top: 3rem;
  margin-left: 2rem;
  padding: 2rem;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  background-color: rgb(39, 36, 36);
}

.download-sec span {
  font-size: 18px;
  text-align: center;
  width: 100%;
  padding-bottom: 12px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: 2rem;
  display: flex;
}

.box2 .box2-img img:hover {
  transform: translateY(-10px);
  transition: 0.2s all linear;
}

.download-sec a {
  text-decoration: none;
  border: 1px solid red;
  background-color: red;
  color: black;
  font-weight: 600;
  border-radius: 8px;
  padding-bottom: 1rem;
  padding: 4px;
  margin-right: 1rem;
}

.download-sec a:hover {
  background-color: rgb(165, 18, 18);
  border: none;
}

.n-img {
  padding: 10px;
  margin-left: 1rem;
  margin-top: 2rem;
  width: 600px;
  height: 6vh;
}

.n-img img {
  position: absolute;
  border-radius: 10px;
  margin-top: 0rem;
  margin-left: 0rem;
  width: 300px;
  height: 500px;
}

.detail-box {
  width: 60%;
  color: aliceblue;
  margin-left: 24rem;
  position: absolute;
  text-align: left;
  align-items: center;
}

.watch a {
  color: aliceblue;
  text-decoration: none;
  margin-right: 1rem;
  padding: 10px;
  border: 1px solid red;
  border-radius: 20px;
}

.watch {
  margin-left: 0rem;
  margin-top: 3rem;
}

h2 {
  color: aliceblue;
  font-size: 30px;
}

.watch a:hover {
  border: 1px solid aliceblue;
  transition: ease-in-out 0.45s;
  background-color: aliceblue;
  color: black;
}

.categories-2 ul li {
  border: 1px solid rgb(48, 41, 41);
  border-radius: 2px;
  display: inline-block;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  color: aliceblue;
  padding: 10px 15px;
  background: #191919;
  transition: 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}
.categories-2 a {
  border-radius: 5px;
  margin-right: 5px;
  gap: 10px;
  text-decoration: none;
  color: aliceblue;
}

.categories-2 ul li:hover {
  background-color: red;
  transition: ease-in-out 0.35;
}

.rating-and-others {
  position: absolute;
  width: 50%;
  margin-top: 2rem;
}
.rating-and-others span {
  font-weight: 600;
  font-size: 18px;
}

.rating-and-others .bx {
  font-size: 2em;
  color: gold;
  margin-bottom: 1rem;
}

.similar {
  position: absolute;
  margin-top: 10rem;
  width: 40%;
}

.feedback {
  max-width: 70%;
  max-height: 400px;
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(39, 36, 36, 0.774);
  margin-top: 3rem;
  margin-left: 40rem;
}

.feedback input {
  background-color: #191919;
  color: aliceblue;
  outline: none;
  border: 1px solid rgb(80, 76, 76);
  border-radius: 10px;
  width: 40%;
  padding: 8px;
  margin: 1rem;
}

.feedback p {
  color: aliceblue;
}

.im input {
  width: 88%;
  padding-bottom: 70px;
}

.more-movies {
  display: flex;
  padding: 20px;
  margin-bottom: 4rem;
}

.more-movies h2 {
  position: absolute;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.more-movies .box2 {
  margin-top: 5rem;
  margin-left: 2rem;
  width: 100%;
  height: 310px;
}

.more-movies .box2 .box2-img img {
  border-radius: 10px;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .n-content {
    margin-left: 2rem;
    margin-bottom: 4rem;
    height: 90vh;
  }

  .detail-box {
    margin-left: 22rem;
  }

  .detail-box h2 {
    font-size: 28px;
  }

  .detail-box p {
    font-size: 15px;
  }

  .categories-2 ul li {
    padding: 10px;
  }

  .watch {
    margin-top: 1.5rem;
  }

  .n-img {
    margin-bottom: 2rem;
  }

  .download-sec {
    width: 360px;
  }

  .feedback {
    margin-left: 26rem;
    margin-top: 7rem;
  }

  .more-movies h2 {
    margin-left: 1rem;
  }
  .more-movies .box2 {
    margin-left: 1rem;
  }
  .more-movies .box2 .box2-img img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media (max-width: 968px) {
  .n-content {
    margin-left: 0.5rem;
    margin-bottom: 4rem;
    height: 90vh;
  }

  .n-img {
    margin-bottom: 2rem;
  }

  .feedback {
    margin-left: 20rem;
    padding: 10px;
    width: 60%;
    margin-top: 7.7rem;
  }

  .feedback h2 {
    font-size: 22px;
  }

  .feedback p {
    font-size: 14px;
  }

  .detail-box {
    width: 50%;
    margin-left: 22rem;
  }

  .feedback input {
    font-size: 12px;
  }

  .detail-box h2 {
    font-size: 25px;
  }

  .categories-2 a {
    font-size: 14px;
  }

  .categories-2 ul li {
    padding: 10px 8px;
  }

  .detail-box p {
    font-size: 14px;
  }

  .detail-box span {
    font-size: 18px;
  }

  .watch {
    margin-top: 1.5rem;
  }

  .watch a {
    font-size: 15px;
  }

  .download-sec {
    margin-left: 1rem;
    width: 280px;
    height: 380px;
  }

  .download-sec span {
    font-size: 15px;
  }

  .download-sec a {
    font-size: 14px;
  }

  .more-movies {
    padding: 10px;
  }

  .more-movies .box2 {
    margin-top: 5rem;
    margin-left: 0.5rem;
    width: 100%;
    height: 310px;
  }
  .more-movies h2 {
    position: absolute;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }
  .more-movies .box2 .box2-img img {
    border-radius: 10px;
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
}

@media (max-width: 810px) {
  .download-sec {
    margin-top: 5rem;
    padding: 1rem;
    width: 200px;
    height: 330px;
  }

  .download-sec a {
    font-size: 11px;
  }

  .download-sec span {
    font-size: 15px;
  }

  .feedback {
    margin-left: 15rem;
  }

  .n-img {
    margin-left: 0.1rem;
  }
  .n-img img {
    margin-left: 0rem;
    width: 250px;
    height: 400px;
  }

  .detail-box {
    width: 70%;
    margin-left: 17rem;
  }
}

@media (max-width: 600px) {
  .n-img img {
    width: 300px;
    height: 460px;
  }

  .n-img {
    margin-left: 2rem;
    margin-top: 0rem;
  }

  .detail-box {
    width: 100%;
    height: 80vh;
    margin-left: 1rem;
    margin-top: 25rem;
  }

  .rating-and-others {
    width: 100%;
  }

  .watch {
    margin-top: 2rem;
  }

  .watch a {
    font-size: 16px;
  }
}

.h-btn a {
  text-align: center;
  font-size: 22px;
  text-decoration: none;
  color: aliceblue;
}

.h-btn {
  margin-top: 2rem;
  text-align: right;
}
