.tv h4 {
  color: aliceblue;
  margin-left: 6rem;
  font-size: 30px;
}

.tv-shows {
  margin-bottom: 5rem;
  max-width: 88%;
  margin-right: auto;
  margin-left: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.tv-shows .box .box-img {
  display: inline-block;
  margin-top: 2rem;
  width: 150%;
  height: 300px;
}

.tv-shows .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tv-shows .box .box-img img:hover {
  transform: translateY(-10px);
  transition: 0.2s all linear;
}

.tv-shows h3 {
  color: aliceblue;
  font-weight: 500;
}

.tv .box span {
  color: aliceblue;
  font-weight: 400;
}
