.footer {
  width: 104%;
  height: 100%;
  background-color: rgba(43, 40, 40, 0);
  margin-bottom: 0rem;
}

.t-home a {
  text-transform: uppercase;
  color: aliceblue;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid red;
  padding: 9px;
}

.t-home a:hover {
  background-color: red;
  color: aliceblue;
  transition: ease-in-out 0.35s;
}

.btn-footer {
  width: 100%;
  height: 18vh;
  margin-top: 1rem;
  text-align: right;
}

.about img {
  position: absolute;
  width: 100%;
  height: 30%;
  object-fit: cover;
  object-position: center;
  z-index: 1100;
}

.f-link {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  text-align: left;
  margin-left: 2rem;
  column-gap: 0.5rem;
}

.f-link .bx {
  background: aliceblue;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 2px solid rgba(2, 3, 7, 0.4);
  color: rgb(0, 0, 0);
}

.f-link .bx:hover {
  background: red;
  color: aliceblue;
}

@media (max-width: 992px) {
  .about img {
    position: absolute;
    width: 105%;
    height: 30%;
    object-fit: cover;
    object-position: center;
    z-index: 1100;
  }
}

@media (max-width: 992px) {
  .f-link .bx {
    font-size: 1.3rem;
  }

  .f-link {
    margin-left: 2rem;
  }

  .about img {
    height: 20%;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 600px) {
  .f-link {
    margin-left: 1rem;
  }
  .f-link .bx {
    font-size: 1rem;
  }
}
